# Projecto Zipline

In [1]:
import datetime as dt
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
from zipline.api import order_target, record, symbol
%matplotlib notebook

In [2]:
style.use('ggplot')

In [3]:
start = dt.datetime(2016,1,1)
end = dt.datetime(2016,12,31)

In [4]:
df = web.DataReader('TSLA','google',start,end)

In [5]:
df.head()

              Open    High     Low   Close   Volume
Date
2016-01-04  230.72  231.38  219.00  223.41  6819737
2016-01-05  226.36  226.89  220.00  223.43  3186752
2016-01-06  220.00  220.05  215.98  219.04  3779128
2016-01-07  214.19  218.44  213.67  215.65  3554251
2016-01-08  217.86  220.44  210.77  211.00  3628058

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2016-01-04 to 2016-12-30
Data columns (total 5 columns):
Open      252 non-null float64
High      252 non-null float64
Low       252 non-null float64
Close     252 non-null float64
Volume    252 non-null int64
dtypes: float64(4), int64(1)
memory usage: 11.8 KB

In [ ]:
plt.plot(df['Open'])

In [ ]:
plt.show()